.bs-choose-4-progress-item i {
    width: 25px;
    background: white;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3c3d40;
}
.header-logo {
    height: 100px;
    width: 260px;
}
.footer-logo {
    width: 300px;
    height: 180px;
}
.header-logo img ,
.footer-logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.bs-core-feature-4-item .item-icon i {
    font-size: 35px;
    border-radius: 50%;
    font-size: 35px;
    color: #a47966;
    width: 70px;
    background: #000000;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(255 255 255);
    transition: 0.4s var(--bs-cube-2);
}
.bs-core-feature-6-wrap .bs-core-feature-4-item a {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    transition: 0.4s var(--bs-cube-2);
}
.bs-core-feature-6-wrap .bs-core-feature-4-item a .item-disc:hover {
    color: #a47966;
}
.bs-core-feature-6-wrap .bs-core-feature-4-item a:hover .item-icon i {
    background: #a47966;
    box-shadow: none;
    color: white;
}

.bs-core-feature-4-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.dia-banner-section {
    padding: 120px 0px;
}
.dia-banner-section .dia-banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.dia-section-title .applghu-section-heading-title {
  font-size: 50px;
}
.contactus-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.contactus-images-banner {
  background: var(--bs-clr-h-4);
  padding: 130px 0px;
  border-radius: 30px;
  position: relative;
}
.contactus-content h1 {
    font-size: 55px;
    font-weight: 600;
    color: white;
}
.contactus-content p {
  /* font-size: 20px; */
  color: white;
  width: 70%;
}
.contactus-content .dia-banner-content {
  padding-bottom: 0px;
  gap: 10px;
}
.dia-banner-section .dia-banner-content .dia-banner-btn .dia-abt-btn.bg-transperent {
  background: transparent;
  color: white;
  border: 1px solid white;
}
.dia-banner-section .dia-banner-content .dia-banner-btn .dia-abt-btn.bg-transperent:hover:before {
  background: white;
}
.dia-banner-section .dia-banner-content .dia-banner-btn .dia-abt-btn.bg-transperent:hover a {
  color: #3e7e4e;
}
.dia-banner-section .dia-banner-content .dia-banner-btn .dia-abt-btn.bg-white {
  color: #3e7e4e;
}
.dia-banner-section .dia-banner-content .dia-banner-btn .dia-abt-btn.bg-white:hover:before {
  background: #1b4134;
}
.dia-banner-section .dia-banner-content .dia-banner-btn .dia-abt-btn.bg-white:hover a {
  color: white;
}
.contactus-images-banner .images {
  position: relative;
}
.contactus-images-banner .images .ten ,
.contactus-images-banner .images .nine ,
.contactus-images-banner .images .eight ,
.contactus-images-banner .images .seven ,
.contactus-images-banner .images .six ,
.contactus-images-banner .images .center-top ,
.contactus-images-banner .images .fourth ,
.contactus-images-banner .images .third ,
.contactus-images-banner .images .second ,
.contactus-images-banner .images .first {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1;
  background-color: black;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}
.contactus-images-banner .images .nine ,
.contactus-images-banner .images .eight ,
.contactus-images-banner .images .center-top ,
.contactus-images-banner .images .third ,
.contactus-images-banner .images .first {
  filter: brightness(0.95) blur(1.5px); /* slight blur + darker look */
  width: 50px;
}
.contactus-images-banner .images .ten ,
.contactus-images-banner .images .seven ,
.contactus-images-banner .images .six ,
.contactus-images-banner .images .fourth ,
.contactus-images-banner .images .second {
  width: 85px;
}
.contactus-images-banner .images .first {
  top: -35px;
  left: 120px;
}
.contactus-images-banner .images .second {
  top: -150px;
  left: 300px;
}
.contactus-images-banner .images .third {
  top: 10px;
  right: -20px;
}
.contactus-images-banner .images .fourth {
  top: -100px;
  right: 190px;
}
.contactus-images-banner .images .center-top {
  top: -80px;
  left: 565px;
}
.contactus-images-banner .images .six {
  top: 100px;
  left: 40px;
}
.contactus-images-banner .images .seven {
  top: 270px;
  left: 220px;
}
.contactus-images-banner .images .eight {
  top: 250px;
  left: 450px;
}
.contactus-images-banner .images .nine {
  top: 290px;
  right: 370px;
}
.contactus-images-banner .images .ten {
  top: 220px;
  right: 100px;
}

div:where(.swal2-container) div:where(.swal2-popup) {
    background: black!important;
}
div:where(.swal2-icon).swal2-warning {
    border-color: var(--bs-clr-pr-1)!important;
    color: var(--bs-clr-pr-1)!important;
}
div:where(.swal2-container) h2:where(.swal2-title) {
    color: var(--bs-clr-pr-1)!important;
}

div:where(.swal2-icon).swal2-success .swal2-success-ring {
    border: .25em solid var(--bs-clr-pr-1)!important;
}
div:where(.swal2-icon).swal2-success [class^=swal2-success-line] {
    background-color: var(--bs-clr-pr-1)!important;
}

.bs-footer-4-menu li a::after {
  content: "*";
  position: absolute;
  top: 55%;
  left: 10%;
  transform: translateY(-50%);
  font-size: 18px;
  line-height: 1;
  transition: all 0.4s var(--bs-cube-2);
  opacity: 0;
}
.bs-footer-4-menu li:hover > a::after {
  left: -15px;
  opacity: 1;
}
.bs-main-navigation .navbar-nav li:hover > a::after {
  left: 50%;
  opacity: 1;
}
.bs-footer-4-menu li {
  position: relative;
}
.bs-footer-4-menu li.active a::after {
  left: -15px;
  opacity: 1;
}
.bs-footer-4-menu li:hover a {
  color: var(--bs-clr-pr-1)!important;
}

.bs-core-feature-4-item .bs-p-4.item-disc.contact-page-p ,
.bs-core-feature-4-item .item-title.bs-h-4.contact-page-h4 {
  color: white;
}
.bs-core-feature-6-area .bs-core-feature-4-item.fadeInRight .item-icon {
  justify-content: center;
}
.bs-sidebar-blog-single .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bs-sidebar-blog-single .bs-p-4.item-meta {
  display: flex;
  justify-content: end;
  align-items: center;
}
.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.bs-sidebar-blog .tags-list a {
  width: calc((100% / 4) - 10px);
}
.bs-sidebar-blog .tags-list a i {
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: black;
  width: auto;
  height: 45px;
  display: flex;
  border-radius: 6px;
  border: 1px solid #0000002b;
  background: #eee;
  transition: all ease .3s;
}


.bs-sidebar-blog .tags-list a:hover .fa-x-twitter ,
.bs-sidebar-blog .tags-list a:hover .fa-linkedin ,
.bs-sidebar-blog .tags-list a:hover .fa-youtube ,
.bs-sidebar-blog .tags-list a:hover .fa-facebook-messenger ,
.bs-sidebar-blog .tags-list a:hover .fa-tiktok ,
.bs-sidebar-blog .tags-list a:hover .fa-instagram ,
.bs-sidebar-blog .tags-list a:hover .fa-facebook ,
.bs-sidebar-blog .tags-list a:hover .fa-whatsapp {
  color: white;
  border: none;
}
.bs-sidebar-blog .tags-list a:hover .fa-whatsapp {
  background: #25D366;
}
.bs-sidebar-blog .tags-list a:hover .fa-facebook {
  background: #1877F2;
}
.bs-sidebar-blog .tags-list a:hover .fa-instagram {
  background: #E4405F;
}
.bs-sidebar-blog .tags-list a:hover .fa-tiktok {
  background: #000000;
}
.bs-sidebar-blog .tags-list a:hover .fa-facebook-messenger {
  background: #006AFF;
}
.bs-sidebar-blog .tags-list a:hover .fa-youtube {
  background: #FF0000;
}
.bs-sidebar-blog .tags-list a:hover .fa-linkedin {
  background: #0A66C2;
}
.bs-sidebar-blog .tags-list a:hover .fa-x-twitter {
  background: #000000;
}
.bs-blog-details-content ul li {
  display: flex;
  flex-direction: column;
}
.text-ellipsis-4 a {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

@media only screen and (max-width: 510px) {
  .bs-footer-4-wrap {
    margin-bottom: 30px;
  }
  .footer-logo {
    width: 200px;
    height: 130px;
  }
  .bs-footer-4-area {
    padding: 10px;
  }
  .wa-offcanvas-close {
    right: 40px;
  }
  .dia-banner-section {
    overflow: hidden;
  }
  .contactus-content .dia-banner-content .bs-pr-btn-2 {
    text-align: center;
    width: 90%;
  }
  .contactus-content .dia-banner-content .btn-wrap,
  .contactus-content .dia-banner-content {
    width: 100%;
  }
  .contactus-content p {
    width: 100%;
  }
  .contactus-content {
    justify-content: start;
    align-items: start;
    text-align: start;
    gap: 20px;
  }
  .contactus-content h1 {
    font-size: 35px;
  }
  .contactus-images-banner .images .ten {
    top: 400px;
    left: -4px;
  }
  .contactus-images-banner .images .nine {
    top: 390px;
    right: 20px;
  }
  .contactus-images-banner .images .seven, .contactus-images-banner .images .six, .contactus-images-banner .images .fourth, .contactus-images-banner .images .center-top {
    display: none;
  }
  .contactus-images-banner .images .third {
    top: 38px;
    right: -25px;
  }
    .contactus-images-banner .images .second {
    top: -110px;
    left: 290px;
  }
  .contactus-images-banner .images .first {
    top: -65px;
    left: 10px;
  }
  .contactus-images-banner {
    padding: 100px 35px;
  }
  .wa-offcanvas-gallery {
    display: none;
  }
  .wa-offcanvas-top {
    margin-bottom: 10px;
  }
  .wa-offcanvas-area {
    padding: 20px;
  }
  .bs-header-4-row {
    background: var(--bs-clr-black-2);
  }
  .header-logo {
    height: 0px;
  }
  .bs-header-4-logo {
    padding: 5px 10px;
    width: 140px;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .header-logo {
    height: 90px;
    width: 200px;
  } 
  .bs-header-4-top {
    display: none;
    padding: 12px;
  }
  .bs-choose-4-feature-single {
    width: auto;
    height: 350px;
  }
  .bs-choose-4-feature .item-margin {
    width: calc((100% / 2) - 10px);
  }
  .bs-footer-4-copyright-flex {
    text-align: center;
    gap: 5px;
  }
  .bs-footer-4-wrap {
    margin-bottom: 40px;
  } 
  .footer-logo {
    width: 250px;
    height: 160px;
  }
  .contactus-images-banner .images .ten {
    top: 320px;
    left: 50px;
  }
  .contactus-images-banner .images .nine {
    top: 350px;
    right: 40px;
  }
  .contactus-images-banner .images .eight {
    top: 269px;
    left: 350px;
  }
  .contactus-images-banner .images .seven, .contactus-images-banner .images .six, .contactus-images-banner .images .fourth, .contactus-images-banner .images .center-top {
    display: none;
  }
  .contactus-images-banner .images .third {
    top: 38px;
    right: -25px;
  }
    .contactus-images-banner .images .second {
    top: -110px;
    left: 290px;
  }
  .contactus-images-banner .images .first {
    top: -65px;
    left: 10px;
  }
}

@media only screen and (min-width: 920px) and (max-width: 1540px) {
  .bs-choose-4-feature {
    margin-right: 95px;
  }
  .bs-choose-4-feature .item-margin {
    width: calc((100% / 4) - 10px);
  }
  .bs-main-navigation .navbar-nav {
    gap: 40px;
  }
  .contactus-images-banner {
    padding: 120px 0px;
  }
  .contactus-images-banner .images .second {
    top: -130px;
  }
  .contactus-images-banner .images .seven {
    top: 260px;
  }
  .contactus-images-banner .images .nine {
    top: 285px;
  }
  .contactus-content h1 {
    font-size: 45px;
  }
}