.bs-choose-4-progress-item i {
  width: 25px;
  background: white;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3c3d40;
}
.header-logo {
  height:auto;
  width: 240px;
}
.footer-logo {
    width: 300px;
    height: 180px;
}
.header-logo img ,
.footer-logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.bs-core-feature-4-item .item-icon i {
    font-size: 35px;
    border-radius: 50%;
    font-size: 35px;
    color: #a47966;
    width: 70px;
    background: #000000;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(255 255 255);
    transition: 0.4s var(--bs-cube-2);
}
.bs-core-feature-6-wrap .bs-core-feature-4-item a {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    transition: 0.4s var(--bs-cube-2);
}
.bs-core-feature-6-wrap .bs-core-feature-4-item a .item-disc:hover {
    color: #a47966;
}
.bs-core-feature-6-wrap .bs-core-feature-4-item a:hover .item-icon i {
    background: #a47966;
    box-shadow: none;
    color: white;
}

.bs-core-feature-4-item {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: start;
    gap: 25px;
}

.dia-banner-section {
    padding: 120px 0px;
}
.dia-banner-section .dia-banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.dia-section-title .applghu-section-heading-title {
  font-size: 50px;
}
.contactus-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.contactus-images-banner {
  background: var(--bs-clr-h-4);
  padding: 130px 0px;
  border-radius: 30px;
  position: relative;
}
.contactus-content h1 {
    font-size: 55px;
    font-weight: 600;
    color: white;
}
.contactus-content p {
  /* font-size: 20px; */
  color: white;
  width: 70%;
}
.contactus-content .dia-banner-content {
  padding-bottom: 0px;
  gap: 10px;
}
.dia-banner-section .dia-banner-content .dia-banner-btn .dia-abt-btn.bg-transperent {
  background: transparent;
  color: white;
  border: 1px solid white;
}
.dia-banner-section .dia-banner-content .dia-banner-btn .dia-abt-btn.bg-transperent:hover:before {
  background: white;
}
.dia-banner-section .dia-banner-content .dia-banner-btn .dia-abt-btn.bg-transperent:hover a {
  color: #3e7e4e;
}
.dia-banner-section .dia-banner-content .dia-banner-btn .dia-abt-btn.bg-white {
  color: #3e7e4e;
}
.dia-banner-section .dia-banner-content .dia-banner-btn .dia-abt-btn.bg-white:hover:before {
  background: #1b4134;
}
.dia-banner-section .dia-banner-content .dia-banner-btn .dia-abt-btn.bg-white:hover a {
  color: white;
}
.contactus-images-banner .images {
  position: relative;
}
.contactus-images-banner .images .ten ,
.contactus-images-banner .images .nine ,
.contactus-images-banner .images .eight ,
.contactus-images-banner .images .seven ,
.contactus-images-banner .images .six ,
.contactus-images-banner .images .center-top ,
.contactus-images-banner .images .fourth ,
.contactus-images-banner .images .third ,
.contactus-images-banner .images .second ,
.contactus-images-banner .images .first {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1;
  background-color: black;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}
.contactus-images-banner .images .nine ,
.contactus-images-banner .images .eight ,
.contactus-images-banner .images .center-top ,
.contactus-images-banner .images .third ,
.contactus-images-banner .images .first {
  filter: brightness(0.95) blur(1.5px); /* slight blur + darker look */
  width: 50px;
}
.contactus-images-banner .images .ten ,
.contactus-images-banner .images .seven ,
.contactus-images-banner .images .six ,
.contactus-images-banner .images .fourth ,
.contactus-images-banner .images .second {
  width: 85px;
}
.contactus-images-banner .images .first {
  top: -50px;
  left: 100px;
}
.contactus-images-banner .images .second {
  top: -150px;
  left: 300px;
}
.contactus-images-banner .images .third {
  top: 10px;
  right: -20px;
}
.contactus-images-banner .images .fourth {
  top: -100px;
  right: 190px;
}
.contactus-images-banner .images .center-top {
  top: -80px;
  left: 565px;
}
.contactus-images-banner .images .six {
  top: 100px;
  left: 40px;
}
.contactus-images-banner .images .seven {
  top: 270px;
  left: 220px;
}
.contactus-images-banner .images .eight {
  top: 250px;
  left: 450px;
}
.contactus-images-banner .images .nine {
  top: 290px;
  right: 370px;
}
.contactus-images-banner .images .ten {
  top: 220px;
  right: 100px;
}

div:where(.swal2-container) div:where(.swal2-popup) {
    background: black!important;
}
div:where(.swal2-icon).swal2-warning {
    border-color: var(--bs-clr-pr-1)!important;
    color: var(--bs-clr-pr-1)!important;
}
div:where(.swal2-container) h2:where(.swal2-title) {
    color: var(--bs-clr-pr-1)!important;
}

div:where(.swal2-icon).swal2-success .swal2-success-ring {
    border: .25em solid var(--bs-clr-pr-1)!important;
}
div:where(.swal2-icon).swal2-success [class^=swal2-success-line] {
    background-color: var(--bs-clr-pr-1)!important;
}

.bs-footer-4-menu li a::after {
  content: "*";
  position: absolute;
  top: 55%;
  left: 10%;
  transform: translateY(-50%);
  font-size: 18px;
  line-height: 1;
  transition: all 0.4s var(--bs-cube-2);
  opacity: 0;
}
.bs-footer-4-menu li:hover > a::after {
  left: -15px;
  opacity: 1;
}
.bs-main-navigation .navbar-nav li:hover > a::after {
  left: 50%;
  opacity: 1;
}
.bs-footer-4-menu li {
  position: relative;
}
.bs-footer-4-menu li.active a::after {
  left: -15px;
  opacity: 1;
}
.bs-footer-4-menu li:hover a {
  color: var(--bs-clr-pr-1)!important;
}
.bs-core-feature-4-item .item-title.bs-h-4 {
  min-height: 55px;
}
.bs-core-feature-4-item .bs-p-4.item-disc.contact-page-p ,
.bs-core-feature-4-item .item-title.bs-h-4.contact-page-h4 {
  color: white;
}
.bs-core-feature-6-area .bs-core-feature-4-item.fadeInRight .item-icon {
  justify-content: center;
}
.bs-sidebar-blog-single .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bs-sidebar-blog-single .bs-p-4.item-meta {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 0px;
}
.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.bs-sidebar-blog .tags-list a {
  width: calc((100% / 4) - 10px);
}
.bs-sidebar-blog .tags-list a i {
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: black;
  width: auto;
  height: 45px;
  display: flex;
  border-radius: 6px;
  border: 1px solid #0000002b;
  background: #eee;
  transition: all ease .3s;
}


.bs-sidebar-blog .tags-list a:hover .fa-x-twitter ,
.bs-sidebar-blog .tags-list a:hover .fa-linkedin ,
.bs-sidebar-blog .tags-list a:hover .fa-youtube ,
.bs-sidebar-blog .tags-list a:hover .fa-facebook-messenger ,
.bs-sidebar-blog .tags-list a:hover .fa-tiktok ,
.bs-sidebar-blog .tags-list a:hover .fa-instagram ,
.bs-sidebar-blog .tags-list a:hover .fa-facebook ,
.bs-sidebar-blog .tags-list a:hover .fa-whatsapp {
  color: white;
  border: none;
}
.bs-sidebar-blog .tags-list a:hover .fa-whatsapp {
  background: #25D366;
}
.bs-sidebar-blog .tags-list a:hover .fa-facebook {
  background: #1877F2;
}
.bs-sidebar-blog .tags-list a:hover .fa-instagram {
  background: #E4405F;
}
.bs-sidebar-blog .tags-list a:hover .fa-tiktok {
  background: #000000;
}
.bs-sidebar-blog .tags-list a:hover .fa-facebook-messenger {
  background: #006AFF;
}
.bs-sidebar-blog .tags-list a:hover .fa-youtube {
  background: #FF0000;
}
.bs-sidebar-blog .tags-list a:hover .fa-linkedin {
  background: #0A66C2;
}
.bs-sidebar-blog .tags-list a:hover .fa-x-twitter {
  background: #000000;
}
.bs-blog-details-content ul li {
  display: flex;
  flex-direction: column;
}
.text-ellipsis-2 a {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.bs-header-4-row {
  background: var(--bs-black);
}
.bs-header-4-top {
  background: var(--bs-white);
}
.bs-accordion:is(.has-details-page) .bs-accordion-item:is(.active) .show .bs-p-1,
.bs-accordion:is(.has-details-page) .bs-accordion-item:is(.active) .item-title {
  color: var(--bs-white);
}
.bs-accordion:is(.has-details-page) .bs-accordion-item:is(.active) .item-title .dot {
  background-color: var(--bs-white);
}
.bs-sidebar-blog-single .item-img {
  height: auto;
  width: auto;
  margin-bottom: 0px;
  border-radius: 5px;
}
.bs-price-5-tabs-btn .nav-item .content {
  width: 70%;
}
.bs-price-5-tabs-btn .nav-item .btn-img {
  width: 20%;
}
.bs-choose-4-area {
  /* height: 850px; */
  background: linear-gradient(rgb(0 0 0 / 78%), rgb(0 0 0 / 61%)), url(/frontend/assets/img/breadcrumb/why-choose-us.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bs-work-process-area .content ul li p {
  margin-bottom: 0px;
}
.bs-work-process-area .content ul li p a {
  text-decoration: underline;
}
.bs-work-process-item-single.custom-ltr:nth-child(2n) .content p,
.bs-work-process-item-single.custom-ltr:nth-child(2n) .content ul {
  direction: ltr;
}
.bs-work-process-item-single .item-img.first {
  height: 400px;
}
.bs-work-process-item-single .item-img.second {
  height: auto;
}
.bs-work-process-item-single .item-img.six  {
  height: auto;
}
.bs-work-process-item-single .item-img.third {
  height: auto;
}
.bs-work-process-item-single .item-img.five ,
.bs-work-process-item-single .item-img.fourth {
  height: 350px;
}

.bs-hero-4-content {
  /* background: #f2f1ec; */
  /* padding: 30px; */
  padding: 45px 30px;
  border-radius: 40px;
  position: relative;
  top: -110px;
}
.pricing-include-points .pricing-points ul {
  margin-bottom: 0px;
  color: white;
}
.pricing-include-points .pricing-points ul li {
  text-align: start;
}
.pricing-include-points .pricing-points ul li p {
  margin: 0px;
  font-size: 18px;
}
.pricing-custom-matric .table thead {
  background: var(--bs-clr-pr-1);
  color: var(--bs-white);
}
.pricing-custom-matric .table {
  width: 100%;
  margin-bottom: 0px;
}
.pricing-custom-matric .table thead tr {
  background: var(--bs-black);
  color: var(--bs-white);
}
.pricing-custom-matric .table tbody tr:nth-child(2n + 1) {
  /* background: var(--bs-black); */
}
.pricing-custom-matric .table tbody tr:nth-child(2n + 2) {
  background: var(--bs-white);
  color: var(--bs-black);
}
.table-striped>tbody>tr:nth-of-type(odd)>* {
  color: var(--bs-white);
}
.custom-font-title {
  font-size: 35px;
}
.pricing-custom-main {
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 15px;
  border-radius: 5px;
  background: #a47966;
  box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.2);
}
.pricing-custom-matric {
  width: 40%;
}
.pricing-include-points {
  width: 60%;
}
.bs-services-details-area .pricing-custom-matric {
  width: 75%;
}
.bs-services-details-area .pricing-include-points {
  width: 35%;
}
/* .pricing-custom-main .pricing-width {
  width: calc((100% / 2) - 25px);
} */
.pricing-custom-main .pricing-include-points {
  background: var(--bs-black);
  padding: 20px 25px;
  /* height: 100%; */
  height: auto;
  border-radius: 5px;
}
.pricing-points {
  display: flex;
  width: 100%;
  gap: 20px;
}
.pricing-points ul {
  width: calc((100% / 2) - 20px);
}
.pricing-custom-matric .table-hover tbody tr:hover:nth-child(2n + 2) td {
  color:black!important;
  background:white!important;
  box-shadow: none!important;
}
.swiper-backface-hidden .swiper-slide {
  background: white;
  padding: 10px;
  border-radius: 10px;
}
.direction-left .bs-p-4 {
  direction: ltr;
}
.service-banner-img {
  height: 500px;
  width: 100%;
  background: var(--bs-clr-pr-1);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.service-banner-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.bs-services-details-content h2 strong {
  font-weight: 600!important;
  color: var(--bs-clr-pr-1);
}
.bs-services-details-area .service-detail-table-para {
  min-height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-custom-main .pricing-include-points.bg-transperent {
  background: linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 33%)), url(/frontend/assets/img/footer/f4-bg-1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.bs-blog-details-content .blog-img {
  width: 820px;
  height: 550px;
}
.bs-blog-details-content .blog-detail-points-para {
  overflow: hidden;
}
.bs-blog-details-content .blog-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.bs-blog-details-content h2 ,
.bs-blog-details-content h4 {
  margin-top: 25px;
  margin-bottom: 15px;
}
.blog-detail-table .pricing-custom-matric {
  width: 100%;
}
.custom-choose {
  background: linear-gradient(rgb(0 0 0 / 26%), rgb(0 0 0 / 18%)), url(/frontend/assets/img/banner/why-choose-us.png);
  /* background: linear-gradient(rgb(0 0 0 / 51%), rgb(0 0 0 / 77%)), url(/frontend/assets/img/banner/why-choose-us.png); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid white;
  height: 830px;
}
.bs-faqs-6-img {
  position: relative;
  background: black;
  padding: 15px;
  overflow: hidden;
}
.bs-faqs-6-img img {
  border-radius: 200px 20px 200px 20px;
  padding: 8px;
  background: white;
}
.bs-faqs-6-content {
  position: relative;
}
.bs-faqs-6-content .title-img{
  position: sticky;
  top: 10px;
}
.bs-faqs-6-img .fa-building {
  position: absolute;
  top: 15px;
  color: white;
  font-size: 55px
}
.bs-faqs-6-img .fa-compass-drafting {
  position: absolute;
  bottom: 15px;
  color: white;
  font-size: 55px;
  right: 20px;
}
.bs-header-4-top {
  padding: 10px;
}
.swiper-backface-hidden .swiper-slide.swiper-slide-active {
  background: transparent;
}
.pricing-custom-main .pricing-include-points .item-title {
  font-size: 25px;
}
.bs-core-feature-4-item .bs-p-4.second-banner-section-para {
  font-size: 20px;
}
.pricing-custom-main.third-table .pricing-points ul li {
  line-height: 37px;
}
.pricing-custom-main.second-table .pricing-custom-matric ,
.pricing-custom-main.first-table .pricing-custom-matric {
  line-height: 37px;
}
.custom-choose-span {
  color: white;
  font-size: 35px;
  font-weight: 600;
}
.inner-points {
  margin: 50px 0px 0px 35px;
}
.custom-choose-second-span {
  font-size: 30px;
  font-weight: 600;
  border-bottom:1px solid rgba(255, 255, 255, 0.32);
  padding-bottom: 5px;
  width: 100%;
}
.why-choose-second .custom-para {
  font-size: 20px;
}
.bs-work-5-card.why-choose-second {
  padding: 35px 25px;
}
.bs-work-5-area.why-choose-second .bs-work-5-wrap .bs-work-5-card {
  max-height: 360px;
  justify-content: start;
}
.bs-work-5-area.why-choose-second .bs-work-5-wrap {
  gap: 10px;
}
.why-choose-card-hide {
  display: none;
}
.why-choose-third .bs-work-5-sec-title {
  max-width: 1000px;
}
.why-choose-third .bs-about-5-wrap {
  grid-template-columns: 1.32fr 1.32fr;
  gap: 20px;
}
.why-choose-third .bs-about-5-wrap .bs-about-5-right .bs-p-4 {
  font-size: 21px;
}
.why-choose-fourth .bs-testimonial-5-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
/* .why-choose-fourth .bs-p-4 {
  font-size: 21px;
} */
.border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.32);
}
/* hover effect */
.bs-work-5-card:hover,
.bs-work-5-card.active {
    background: var(--bs-clr-h-4);
}

.bs-work-5-card.active .title ,
.bs-work-5-card.active .custom-para ,
.bs-work-5-card.active .number {
  color: white;
}
.bs-work-process-item-single .content p {
  font-size: 21px;
}
.bs-work-process-item-single .content ul li {
  font-size: 20px;
}
.home-pricing-banner {
  background: linear-gradient(rgb(0 0 0 / 26%), rgb(0 0 0 / 18%)), url(/frontend/assets/img/breadcrumb/breadcrumb-about.png);
  /* background: url(./frontend/assets/img/breadcrumb/breadcrumb-about.png); */
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.bs-core-services-2-item .item-title {
  width: 100%;
}

@media only screen and (max-width: 510px) {
  .bs-footer-4-wrap {
    margin-bottom: 30px;
  }
  .footer-logo {
    width: 200px;
    height: 130px;
  }
  .bs-footer-4-area {
    padding: 10px;
  }
  .wa-offcanvas-close {
    right: 40px;
  }
  .dia-banner-section {
    overflow: hidden;
  }
  .contactus-content .dia-banner-content .bs-pr-btn-2 {
    text-align: center;
    width: 90%;
  }
  .contactus-content .dia-banner-content .btn-wrap,
  .contactus-content .dia-banner-content {
    width: 100%;
  }
  .contactus-content p {
    width: 100%;
  }
  .contactus-content {
    justify-content: start;
    align-items: start;
    text-align: start;
    gap: 20px;
  }
  .contactus-content h1 {
    font-size: 35px;
  }
  .contactus-images-banner .images .ten {
    top: 400px;
    left: -4px;
  }
  .contactus-images-banner .images .nine {
    top: 390px;
    right: 20px;
  }
  .contactus-images-banner .images .seven, .contactus-images-banner .images .six, .contactus-images-banner .images .fourth, .contactus-images-banner .images .center-top {
    display: none;
  }
  .contactus-images-banner .images .third {
    top: 38px;
    right: -25px;
  }
    .contactus-images-banner .images .second {
    top: -110px;
    left: 290px;
  }
  .contactus-images-banner .images .first {
    top: -65px;
    left: 10px;
  }
  .contactus-images-banner {
    padding: 100px 35px;
  }
  .wa-offcanvas-gallery {
    display: none;
  }
  .wa-offcanvas-top {
    margin-bottom: 10px;
  }
  .wa-offcanvas-area {
    padding: 20px;
  }
  .bs-header-4-row {
    background: var(--bs-black);
  }
  .header-logo {
    height: 0px;
  }
  .bs-header-4-logo {
    padding: 5px 10px;
    width: 140px;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .header-logo {
    height: 90px;
    width: 200px;
  } 
  .bs-header-4-top {
    display: none;
    padding: 12px;
  }
  .bs-choose-4-feature-single {
    width: auto;
    height: 350px;
  }
  .bs-choose-4-feature .item-margin {
    width: calc((100% / 2) - 10px);
  }
  .bs-footer-4-copyright-flex {
    text-align: center;
    gap: 5px;
  }
  .bs-footer-4-wrap {
    margin-bottom: 40px;
  } 
  .footer-logo {
    width: 250px;
    height: 160px;
  }
  .contactus-images-banner .images .ten {
    top: 320px;
    left: 50px;
  }
  .contactus-images-banner .images .nine {
    top: 350px;
    right: 40px;
  }
  .contactus-images-banner .images .eight {
    top: 269px;
    left: 350px;
  }
  .contactus-images-banner .images .seven, .contactus-images-banner .images .six, .contactus-images-banner .images .fourth, .contactus-images-banner .images .center-top {
    display: none;
  }
  .contactus-images-banner .images .third {
    top: 38px;
    right: -25px;
  }
    .contactus-images-banner .images .second {
    top: -110px;
    left: 290px;
  }
  .contactus-images-banner .images .first {
    top: -65px;
    left: 10px;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1500px) {
  .bs-contact-page-map {
    height: 450px;
  }
  .bs-office-1-wrap {
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .bs-faqs-6-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .bs-faqs-6-img {
    height: 380px;
    width: 100%;
  }
  .masonry-container {
    max-width: 1024px;
  }
  .bs-choose-4-feature-single .disc {
    max-width: 100%;
  }
  .bs-choose-4-feature-single {
    width: 100%;
    height: 100%;
  }
  .breadcrumb-area {
    padding-top: 225px;
  }
  .bs-choose-4-content {
    padding-top: 50px;
  }
  .bs-services-4-item-single:is(.active) {
    width: 470px;
  }
  .bs-about-4-project {
    left: -125px;
  }
  .bs-core-services-2-item .content-wrap {
    gap: 10px 60px;
  }
  .bs-core-services-2-item .item-title {
    font-size: 75px;
  }
  .bs-hero-4-slider-thum-item {
    height: 100px;
  }
  .bs-hero-4-slider-img-item {
    height: 550px;
  }
  .bs-hero-4-slider {
    margin-top: -104px;
  }
  .bs-hero-4-content {
    top: -35px;
  }
  .bs-header-4-main {
    gap: 0px;
  }
  .bs-hero-4-area.pt-90 {
    padding-top: 0px;
  }
  .bs-hero-4-bg {
    height: 200px;
  }
  .breadcrumb-wrap {
    gap: 0px;
  }
  /* .breadcrumb-area {
    padding-top: 150px;
  } */
  .bs-main-navigation .navbar-nav {
    gap: 35px;
  }
  .bs-header-4-main {
    padding-left: 25px;
  }
  .bs-header-4-action-link {
    gap: 15px;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 1900px) {
  .bs-choose-4-feature {
    margin-right: 95px;
  }
  .bs-choose-4-feature .item-margin {
    width: calc((100% / 4) - 10px);
  }
  .bs-main-navigation .navbar-nav {
    gap: 40px;
  }
  
  .contactus-images-banner {
    padding: 120px 0px;
  }
  .contactus-images-banner .images .second {
    top: -130px;
  }
  .contactus-images-banner .images .seven {
    top: 260px;
  }
  .contactus-images-banner .images .nine {
    top: 285px;
  }
  .contactus-content h1 {
    font-size: 45px;
  }
}