/* --- Masonry Container --- */
.gallery-main-section {
  position: relative;
  background: black;
}
.gallery-main-section::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 33%)), url(/frontend/assets/img/breadcrumb/breadcrumb-shape.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -9;
}


.masonry-container {

  /* The Magic: Split into columns */

  column-count: 4;

  column-gap: 15px;

  

  /* Maximum width for the demo */

  /* max-width: 1000px; */
  max-width: 1400px;
  padding: 70px 0px;

  margin: 0 auto;

}

/* --- The Boxes --- */

.gallery-box {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  break-inside: avoid;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #555;
  border-radius: 5px;
  overflow: hidden;
  transition: all 300ms ease;
  cursor: pointer;
}
.masonry-container {
  transition: all 300ms ease;
}
.masonry-container .gallery-box:hover {
  filter: blur(0px) !important;
  transform: scale(1.1);
  z-index: 1;
} 
.masonry-container:hover .gallery-box {
    filter: blur(5px);
}
/* --- Generating Different Sizes for Demo --- */
/* 
.box:nth-child(1) { height: auto; background: white; }

.box:nth-child(2) { height: auto; background: white; }

.box:nth-child(3) { height: auto; background: white; }

.box:nth-child(4) { height: auto; background: white; }

.box:nth-child(5) { height: auto; background: white; }

.box:nth-child(6) { height: auto; background: white; }

.box:nth-child(7) { height: auto; background: white; }

.box:nth-child(8) { height: auto; background: white; }

.box:nth-child(9) { height: auto; background: white; }

.box:nth-child(10) { height: auto; background: white; }

.box:nth-child(11) { height: auto; background: white; }

.box:nth-child(12) { height: auto; background: white; } */

.box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* --- Responsive Design --- */

@media (max-width: 900px) {

  .masonry-container {
    column-count: 2;
    padding: 50px 50px;
  }

}

@media (max-width: 600px) {

  .masonry-container {

    column-count: 2;

  }

}

@media (max-width: 400px) {

  .masonry-container {
    column-count: 2;
    padding: 30px 15px;
  }
  .masonry-container:hover .gallery-box {
    filter: blur(0px);
  }

}

@media only screen and (min-width: 1300px) and (max-width: 1500px) {
  .masonry-container {
    max-width: 1024px;
  }
}
